@import url(
	http://fonts.googleapis.com/css?family=Lobster|Oswald:400,300,700|Vollkorn:700italic|Pacifico|Amatic+SC:400,700|Leckerli+One|Raleway:400,300,600,700,800,900|Pacifico|Marck+Script
);

.raleway{
	font-family:"Raleway",sans-serif;
}

.oswald{
	font-family:"Oswald",sans-serif;
}

.volkorn{
	font-family:"Vollkorn",serif;
}

.lobster{
	font-family:"Lobster",cursive;
}

.pacifico{
	font-family:"Pacifico",cursive;
}

.amatic{
	font-family:"Amatic SC",cursive;
}

.leckerli{
	font-family:"Leckerli One",cursive;
}

.marck{
	font-family:"Marck Script",	normal
}
.main-title {
	font-size: 50px !important;
	font-family:"Amatic SC",cursive;
	font-size:62px;
	font-size:6.2rem;
	text-shadow: 1px 8px 1px #000;
	margin-bottom: 20px !important;
	margin-top:200px;
}

@media(min-width: 768px){
	.main-title {
		font-size: 100px !important;
		margin-bottom: 0px !important;
	}
}